# Ethos Configuration File
# -------------------------
# priority: CLI flags > Env Vars > ethos.toml > Defaults

# The JSON-RPC endpoint to fetch traces from
rpc_url = "http://localhost:8545"

# Your Etherscan API Key for contract name resolution
# Alternatively, set ETHERSCAN_API_KEY environment variable
# etherscan_key = "YOUR_API_KEY_HERE"

# Default output directory for generated SVGs
output_dir = "."
